.contact-container {
  position: relative; /* Establish a relative position for the container */
  margin-top: 100px;
  display: flex;
  flex-direction: column; /* Stack the form on top of the map */
  padding: 40px;
  border-radius: 4px;

}

.map-section {
  width: 100%; /* Full width for the map */
  height: 400px; /* Fixed height for the map */
  border-radius: 10px;

}

.form-section {
  position: absolute; /* Position the form on top of the map */
  top: 10px; /* Add some spacing from the top of the map */
  left: 60%; /* Center the form horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  width: 80%; /* Adjust the width of the form */
  max-width: 500px; /* Limit the maximum width */
  background-color: white; /* Add a background for better readability */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Ensure the form is above the map */
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #131414;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* Footer Section */
/* Footer Section */
.footer-section {
  background-color: #ffffff;
  color: #1d1a1a;
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Space out the sections */
  text-align: left; /* Align text to the left */
}

.footer-info,
.footer-menu {
  flex: 1; /* Each section takes up equal width */
  margin: 0 10px; /* Add spacing between sections */
}


.footer-info p,
.footer-menu p,
.footer-menu a {
  margin: 5px 0; /* Add spacing between items */
}

.footer-menu a {
  color: #161515;
  text-decoration: none;
  
  transition: color 0.3s ease;
}

.footer-menu a:hover {
  color: #007BFF;
}

.footer-menu p {
  font-size: 16px;

  margin-bottom: 10px;
}
.footer-menu {
  display: flex;
  flex-direction: column; /* Arrange items in a column */
      /* Center items horizontally */
  margin-bottom: 20px;
}


@media screen and (max-width: 480px) {
    .form-section {
      display: flex;
      flex-direction: column;
        padding: 10px; /* Further reduce padding for very small screens */
    }

    .form-group input {
        font-size: 14px; /* Reduce input font size for smaller screens */
        padding: 8px; /* Adjust input padding */
    }

   
    .submit-button {
        font-size: 14px; /* Reduce button font size */
        padding: 8px; /* Adjust button padding */
    }
    .footer-section{

      display: flex;
      flex-direction: column;
      gap: 20px;
    }
}

